body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #2d3c49;
}

h2 {
	color: #7d97ad;
	margin-left: 10px;
}

h3 {
	font-size: 32px;
}

a {
	color: #2d3c49;
}

hr {
	border-top: 3px solid #7d97ad;
}

.title-super {
	font-size: 70px;
}

.title-sub {
	font-size: 26px;
}
.text-thin {
	font-weight: 100;
}

.title-logo {
	max-height: 90px;
	margin-top: 30px;
}
